# Dependency directories
node_modules/
packages/

# IDE and editor folders
.vscode/
.idea/
*.sublime-*

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes

# Build outputs
build/
bin/
out/
*.log

# Ignore temp files and folders
tmp/
temp/
*.tmp
*.bak
*.swp

# Version Control System directories
.svn/
CVS/

# Ignore files and folders that start with a dot, except for some important ones
.*
!.gitignore
!.gitattributes
